# ECOS API 통계표 및 항목 코드 검색

이 노트북은 PublicDataReader 라이브러리를 사용하여 한국은행 ECOS API의 올바른 통계표 코드와 항목 코드를 찾기 위한 검색 도구입니다.

## 검색 대상:
1. GDP 변화율
2. 수출입 변화율
3. 국내지역별 경제지표 변화율
4. 국내업종별 경제지표 변화율

In [2]:
# 필요한 라이브러리 import
from PublicDataReader import Ecos
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

# ECOS API 키 설정 (본인의 API 키로 변경하세요)
api_key = "X949JPUF94LO6EDI5EM5"  # 여기에 본인의 API 키를 입력하세요
ecos = Ecos(api_key)

## 1. GDP 관련 통계표 검색

In [3]:
# 1. 먼저 모든 통계표 리스트를 불러옵니다
print("=== 전체 통계표 리스트 불러오기 ===")
print("이 작업은 시간이 걸릴 수 있습니다...")
all_tables = ecos.get_statistic_table_list()
print(f"전체 통계표 개수: {len(all_tables)}")
print("\n통계표 데이터프레임 구조:")
print(all_tables.columns.tolist())
print("\n상위 5개 통계표:")
display(all_tables.head())

=== 전체 통계표 리스트 불러오기 ===
이 작업은 시간이 걸릴 수 있습니다...
전체 통계표 개수: 863

통계표 데이터프레임 구조:
['상위통계표코드', '통계표코드', '통계명', '시점', '검색가능여부', '출처']

상위 5개 통계표:

      상위통계표코드       통계표코드                               통계명    시점 검색가능여부    출처
0           *  0000000001                          1. 통화/금융  None      N  None
1  0000000001  0000000002                       1.1. 통화/유동성  None      N  None
2  0000000002  0000000003                       1.1.1. 본원통화  None      N  None
3  0000000003  0000000004                1.1.1.1. 본원통화 구성내역  None      N  None
4  0000000004     102Y004  1.1.1.1.1. 본원통화 구성내역(평잔, 계절조정계열)     M      Y  None

In [4]:
# 2. GDP 관련 통계표 검색 (pandas 필터링 사용)
print("=== GDP 관련 통계표 검색 ===")
gdp_keyword = "GDP"
gdp_tables = all_tables[all_tables['통계명'].str.contains(gdp_keyword, case=False, na=False)]
print(f"'{gdp_keyword}' 키워드가 포함된 통계표 개수: {len(gdp_tables)}")
print("\nGDP 관련 통계표:")
display(gdp_tables[['통계표코드', '통계명', '시점']])

=== GDP 관련 통계표 검색 ===
'GDP' 키워드가 포함된 통계표 개수: 10

GDP 관련 통계표:

          통계표코드                                           통계명    시점
144  0000000912                 2.1.2. 생산 및 지출 GDP, GDP 디플레이터  None
145  0000000913                      2.1.2.1. 경제활동별 GDP 및 GNI  None
146     200Y103      2.1.2.1.1. 경제활동별 GDP 및 GNI(계절조정, 명목, 분기)     Q
147     200Y104      2.1.2.1.2. 경제활동별 GDP 및 GNI(계절조정, 실질, 분기)     Q
148     200Y105  2.1.2.1.3. 경제활동별 GDP 및 GNI(원계열, 명목, 분기 및 연간)     Q
149     200Y106  2.1.2.1.4. 경제활동별 GDP 및 GNI(원계열, 실질, 분기 및 연간)     Q
155  0000000915                            2.1.2.3. GDP 디플레이터  None
174  0000000922                          2.1.5. GDP에 대한 성장기여도  None
843     902Y016                    9.1.4.2. 국제 주요국 국내총생산(GDP)     A
846     902Y018                       9.1.4.5. 국제 주요국 1인당 GDP     A

In [5]:
# 국내총생산 관련 통계표 검색
print("=== 국내총생산 관련 통계표 검색 ===")
gdp_domestic_keyword = "국내총생산"
gdp_domestic_tables = all_tables[all_tables['통계명'].str.contains(gdp_domestic_keyword, case=False, na=False)]
print(f"'{gdp_domestic_keyword}' 키워드가 포함된 통계표 개수: {len(gdp_domestic_tables)}")
print("\n국내총생산 관련 통계표:")
display(gdp_domestic_tables[['통계표코드', '통계명', '시점']])

print("\n=== 성장률 관련 통계표 검색 ===")
growth_keyword = "성장률"
growth_tables = all_tables[all_tables['통계명'].str.contains(growth_keyword, case=False, na=False)]
print(f"'{growth_keyword}' 키워드가 포함된 통계표 개수: {len(growth_tables)}")
print("\n성장률 관련 통계표:")
display(growth_tables[['통계표코드', '통계명', '시점']])

=== 국내총생산 관련 통계표 검색 ===
'국내총생산' 키워드가 포함된 통계표 개수: 12

국내총생산 관련 통계표:

          통계표코드                                        통계명    시점
150  0000000914                      2.1.2.2. 국내총생산에 대한 지출  None
151     200Y107      2.1.2.2.1. 국내총생산에 대한 지출(계절조정, 명목, 분기)     Q
152     200Y108      2.1.2.2.2. 국내총생산에 대한 지출(계절조정, 실질, 분기)     Q
153     200Y109  2.1.2.2.3. 국내총생산에 대한 지출(원계열, 명목, 분기 및 연간)     Q
154     200Y110  2.1.2.2.4. 국내총생산에 대한 지출(원계열, 실질, 분기 및 연간)     Q
156     200Y111      2.1.2.3.1. 경제활동별 국내총생산 디플레이터(분기 및 연간)     Q
157     200Y112     2.1.2.3.2. 국내총생산에 대한 지출 디플레이터(분기 및 연간)     Q
159  0000000917                         2.1.3.1. 국내총생산과 지출  None
160     200Y113               2.1.3.1.1. 국내총생산과 지출(명목, 연간)     A
843     902Y016                 9.1.4.2. 국제 주요국 국내총생산(GDP)     A
844     902Y019               9.1.4.3. 국제 주요국 국내총생산(PPP적용)     A
859     251Y001                     9.2.2. 북한의 경제활동별 국내총생산     A

=== 성장률 관련 통계표 검색 ===
'성장률' 키워드가 포함된 통계표 개수: 1

성장률 관련 통계표:

       통계표코드                    통계명 시점
842  902Y015  9.1.4.1. 국제 주요국 경제성장률  Q

## 2. 수출입 관련 통계표 검색

In [6]:
# 수출 관련 통계표 검색
print("=== 수출 관련 통계표 검색 ===")
export_keyword = "수출"
export_tables = all_tables[all_tables['통계명'].str.contains(export_keyword, case=False, na=False)]
print(f"'{export_keyword}' 키워드가 포함된 통계표 개수: {len(export_tables)}")
print("\n수출 관련 통계표:")
display(export_tables[['통계표코드', '통계명', '시점']])

=== 수출 관련 통계표 검색 ===
'수출' 키워드가 포함된 통계표 개수: 20

수출 관련 통계표:

          통계표코드                             통계명    시점
452  0000000176               3. 환율/통관수출입/외환보유액  None
462  0000000186                   3.2. 통관기준 수출입  None
463  0000000187                  3.2.1. 국가별 수출입  None
464     901Y011                 3.2.1.1. 국가별 수출     M
466  0000000190                3.2.2. 결제통화별 수출입  None
467  0000000191             3.2.2.1. 결제통화별 수출\r  None
468     303Y001         3.2.2.1.1. 지역별 결제통화(수출)     M
469     303Y002         3.2.2.1.2. 국가별 결제통화(수출)     M
470     303Y003     3.2.2.1.3. 지역별,국가별 원화결제(수출)     M
476  0000000194              3.3.1. 수출입 금액/물량지수  None
477  0000000195             3.3.1.1. 수출 금액/물량지수  None
478     403Y001               3.3.1.1.1. 수출금액지수     M
479     403Y002               3.3.1.1.2. 수출물량지수     M
500  0000000214        4.3. 수출/수입물가지수(2020=100)  None
501  0000000215                   4.3.1. 수출물가지수  None
502     402Y014           4.3.1.1. 수출물가지수(기본분류)     M
503     402Y015           4.3.1.2. 수출물가지수(특수분류)     M
504     402Y016            4.3.1.3. 수출물가지수(품목별)     M
759     901Y039  8.3.4. 품목별 광공업 생산·출하·재고·내수·수출량     M
838     902Y012        9.1.3.4. 국제 주요국 수출(통관기준)     M

In [7]:
# 수입 관련 통계표 검색
print("=== 수입 관련 통계표 검색 ===")
import_keyword = "수입"
import_tables = all_tables[all_tables['통계명'].str.contains(import_keyword, case=False, na=False)]
print(f"'{import_keyword}' 키워드가 포함된 통계표 개수: {len(import_tables)}")
print("\n수입 관련 통계표:")
display(import_tables[['통계표코드', '통계명', '시점']])

print("\n=== 무역 관련 통계표 검색 ===")
trade_keyword = "무역"
trade_tables = all_tables[all_tables['통계명'].str.contains(trade_keyword, case=False, na=False)]
print(f"'{trade_keyword}' 키워드가 포함된 통계표 개수: {len(trade_tables)}")
print("\n무역 관련 통계표:")
display(trade_tables[['통계표코드', '통계명', '시점']])

=== 수입 관련 통계표 검색 ===
'수입' 키워드가 포함된 통계표 개수: 22

수입 관련 통계표:

          통계표코드                                          통계명    시점
214     200Y153  2.1.8.3. 일반정부의 부문별 총수입, 총지출, 저축투자차액(명목, 연간)     A
215     200Y154  2.1.8.4. 공공부문의 부문별 총수입, 총지출, 저축투자차액(명목, 연간)     A
237     271Y113         2.2.1.2.4. 투입산출표 수입유발계수표(생산자가격, 대분류)     A
244     271Y123        2.2.1.2.11. 투입산출표 수입유발계수표(생산자가격, 중분류)     A
263     271Y011         2.2.2.2.4. 투입산출표 수입유발계수표(생산자가격, 대분류)     A
273     271Y071        2.2.2.2.14. 투입산출표 수입유발계수표(생산자가격, 중분류)     A
465     901Y012                              3.2.1.2. 국가별 수입     M
471  0000000192                            3.2.2.2. 결제통화별 수입  None
472     303Y004                      3.2.2.2.1. 지역별 결제통화(수입)     M
473     303Y005                      3.2.2.2.2. 국가별 결제통화(수입)     M
474     303Y006                  3.2.2.2.3. 지역별,국가별 원화결제(수입)     M
480  0000000196                          3.3.1.2. 수입 금액/물량지수  None
481     403Y003                            3.3.1.2.1. 수입금액지수     M
482     403Y004                            3.3.1.2.2. 수입물량지수     M
500  0000000214                     4.3. 수출/수입물가지수(2020=100)  None
505  0000000219                                4.3.2. 수입물가지수  None
506     401Y015                        4.3.2.1. 수입물가지수(기본분류)     M
507     401Y016                        4.3.2.2. 수입물가지수(특수분류)     M
508     401Y017                         4.3.2.3. 수입물가지수(품목별)     M
509     401Y018                         4.3.2.4. 수입물가지수(용도별)     M
784     901Y092                               8.5.8. 소비재 수입액     M
839     902Y013                     9.1.3.5. 국제 주요국 수입(통관기준)     M

=== 무역 관련 통계표 검색 ===
'무역' 키워드가 포함된 통계표 개수: 12

무역 관련 통계표:

          통계표코드                           통계명    시점
420     301Y014           2.5.1.3. 서비스무역세분류통계     M
423  0000000159             2.5.2. 지식서비스 무역통계  None
424  0000000160    2.5.2.1. 지식서비스 무역통계 (일반분류)  None
425     304Y101    2.5.2.1.1. 지식서비스 무역통계(유형별)     Q
426     304Y102    2.5.2.1.2. 지식서비스 무역통계(산업별)     Q
427     304Y103  2.5.2.1.3. 지식서비스 무역통계(기관형태별)     Q
428     304Y104    2.5.2.1.4. 지식서비스 무역통계(지역별)     Q
429  0000000152   2.5.2.1.5. 지식서비스 무역통계(교차통계)  None
439  0000000163           2.5.2.4. 지식재산권 무역수지  None
440     304Y107    2.5.2.4.1. 지식재산권 무역수지(유형별)     Q
441  0000000155   2.5.2.4.2. 지식재산권 무역수지(교차통계)  None
475  0000000193    3.3. 무역지수/교역조건지수(2020=100)  None

In [15]:
# 환율 관련 통계표 검색
print("=== 환율 관련 통계표 검색 ===")
exchange_keyword = "환율"
exchange_tables = all_tables[all_tables['통계명'].str.contains(exchange_keyword, case=False, na=False)]
print(f"'{exchange_keyword}' 키워드가 포함된 통계표 개수: {len(exchange_tables)}")
print("\환율 관련 통계표:")
display(exchange_tables[['통계표코드', '통계명', '시점']])

=== 환율 관련 통계표 검색 ===
'환율' 키워드가 포함된 통계표 개수: 12
\환율 관련 통계표:

          통계표코드                               통계명    시점
452  0000000176                 3. 환율/통관수출입/외환보유액  None
453  0000000177                           3.1. 환율  None
454  0000000178                       3.1.1. 일일환율  None
455     731Y001            3.1.1.1. 주요국 통화의 대원화환율     D
456     731Y002           3.1.1.2. 주요국 통화의 대미달러환율     D
457     731Y003  3.1.1.3. 원화의 대미달러, 원화의 대위안/대엔 환율     D
458  0000000182                  3.1.2. 평균환율/기말환율  None
459     731Y004            3.1.2.1. 주요국 통화의 대원화환율     M
460     731Y005           3.1.2.2. 주요국 통화의 대미달러환율     M
461     731Y006  3.1.2.3. 원화의 대미달러, 원화의 대위안/대엔 환율     M
860  0000000704               9.2.3. 북한의 시장물가와 환율  None
862     252Y002                     9.2.3.2. 시장환율     Q

## 3. 특정 통계표의 항목 검색 함수

In [17]:
# 특정 통계표의 항목 검색 함수
def search_stat_items(stat_code, description=""):
    """
    특정 통계표 코드의 항목들을 조회하는 함수
    """
    print(f"=== {description} 통계표 코드: {stat_code} 항목 검색 ===")
    try:
        items = ecos.get_statistic_item_list(통계표코드=stat_code)
        print(f"항목 개수: {len(items)}")
        print("\n항목 리스트:")
        # display(items)
        return items
    except Exception as e:
        print(f"오류 발생: {e}")
        return None

# 데이터 조회 테스트 함수
def test_data_retrieval(stat_code, item_code1, period = 'Q', item_code2=None, item_code3=None, 
                       start_date="202301", end_date="202312", description=""):
    """
    특정 통계표와 항목 코드로 데이터 조회를 테스트하는 함수
    """
    print(f"=== {description} 데이터 조회 테스트 ===")
    print(f"통계표코드: {stat_code}")
    print(f"항목코드1: {item_code1}")
    if item_code2:
        print(f"항목코드2: {item_code2}")
    if item_code3:
        print(f"항목코드3: {item_code3}")
    
    try:
        data = ecos.get_statistic_search(
            통계표코드=stat_code,
            주기=period,
            검색시작일자=start_date,
            검색종료일자=end_date,
            통계항목코드1=item_code1,
            통계항목코드2=item_code2,
            통계항목코드3=item_code3
        )
        print(f"\n데이터 조회 성공! 행 수: {len(data)}")
        print("\n상위 5개 데이터:")
        display(data.head())
        print("\n컬럼 정보:")
        print(data.columns.tolist())
        return data
    except Exception as e:
        print(f"데이터 조회 실패: {e}")
        return None

In [18]:
search_stat_items('731Y001', 'TEST')

=== TEST 통계표 코드: 731Y001 항목 검색 ===
항목 개수: 53

항목 리스트:

,통계표코드,통계명,항목그룹코드,항목그룹명,통계항목코드,통계항목명,상위통계항목코드,상위통계항목명,시점,수록시작일자,수록종료일자,자료수,단위,가중치
0,731Y001,3.1.1.1. 주요국 통화의 대원화환율,Group1,계정항목,0000001,원/미국달러(매매기준율),None,None,D,19640504,20250808,17239,원,None
1,731Y001,3.1.1.1. 주요국 통화의 대원화환율,Group1,계정항목,0000053,원/위안(매매기준율),None,None,D,20160104,20250808,2366,원,None
2,731Y001,3.1.1.1. 주요국 통화의 대원화환율,Group1,계정항목,0000002,원/일본엔(100엔),None,None,D,19770401,20250808,13391,원,None
3,731Y001,3.1.1.1. 주요국 통화의 대원화환율,Group1,계정항목,0000003,원/유로,None,None,D,19940411,20250808,8353,원,None
4,731Y001,3.1.1.1. 주요국 통화의 대원화환율,Group1,계정항목,0000004,원/독일마르크,None,None,D,19640504,20011231,11170,원,None
5,731Y001,3.1.1.1. 주요국 통화의 대원화환율,Group1,계정항목,0000005,원/프랑스프랑,None,None,D,19641214,20020216,10968,원,None
6,731Y001,3.1.1.1. 주요국 통화의 대원화환율,Group1,계정항목,0000006,원/이태리리라(100리라),None,None,D,19641214,20020228,10980,원,None
7,731Y001,3.1.1.1. 주요국 통화의 대원화환율,Group1,계정항목,0000007,원/벨기에프랑,None,None,D,19700220,20020228,9488,원,None
8,731Y001,3.1.1.1. 주요국 통화의 대원화환율,Group1,계정항목,0000008,원/오스트리아실링,None,None,D,19700220,20020228,9483,원,None
9,731Y001,3.1.1.1. 주요국 통화의 대원화환율,Group1,계정항목,0000009,원/네덜란드길더,None,None,D,19700220,20020128,9464,원,None
10,731Y001,3.1.1.1. 주요국 통화의 대원화환율,Group1,계정항목,0000010,원/스페인페세타(100페세타),None,None,D,19880104,20020228,4202,원,None
11,731Y001,3.1.1.1. 주요국 통화의 대원화환율,Group1,계정항목,0000011,원/핀란드마르카,None,None,D,19880104,20020228,4202,원,None
12,731Y001,3.1.1.1. 주요국 통화의 대원화환율,Group1,계정항목,0000012,원/영국파운드,None,None,D,19640504,20250808,17226,원,None
13,731Y001,3.1.1.1. 주요국 통화의 대원화환율,Group1,계정항목,0000013,원/캐나다달러,None,None,D,19641214,20250808,16990,원,None
14,731Y001,3.1.1.1. 주요국 통화의 대원화환율,Group1,계정항목,0000014,원/스위스프랑,None,None,D,19641214,20250808,16987,원,None
15,731Y001,3.1.1.1. 주요국 통화의 대원화환율,Group1,계정항목,0000017,원/호주달러,None,None,D,19700220,20250808,15491,원,None
16,731Y001,3.1.1.1. 주요국 통화의 대원화환율,Group1,계정항목,0000026,원/뉴질랜드달러,None,None,D,19880104,20250808,10211,원,None
17,731Y001,3.1.1.1. 주요국 통화의 대원화환율,Group1,계정항목,0000027,원/중국위안,None,None,D,19940411,20160201,6008,원,None
18,731Y001,3.1.1.1. 주요국 통화의 대원화환율,Group1,계정항목,0000030,원/홍콩위안,None,None,D,20150102,20160308,250,원,None
19,731Y001,3.1.1.1. 주요국 통화의 대원화환율,Group1,계정항목,0000015,원/홍콩달러,None,None,D,19640504,20250808,17168,원,None
20,731Y001,3.1.1.1. 주요국 통화의 대원화환율,Group1,계정항목,0000031,원/대만달러,None,None,D,20150102,20250808,2615,원,None
21,731Y001,3.1.1.1. 주요국 통화의 대원화환율,Group1,계정항목,0000032,원/몽골투그릭,None,None,D,20150102,20250808,2615,원,None
22,731Y001,3.1.1.1. 주요국 통화의 대원화환율,Group1,계정항목,0000033,원/카자흐스탄텡게,None,None,D,20150102,20250808,2615,원,None
23,731Y001,3.1.1.1. 주요국 통화의 대원화환율,Group1,계정항목,0000028,원/태국바트,None,None,D,19940411,20250808,8353,원,None
24,731Y001,3.1.1.1. 주요국 통화의 대원화환율,Group1,계정항목,0000024,원/싱가포르달러,None,None,D,19830824,20250808,11504,원,None
25,731Y001,3.1.1.1. 주요국 통화의 대원화환율,Group1,계정항목,0000029,원/인도네시아루피아(100루피아),None,None,D,19940411,20250808,8353,원,None
26,731Y001,3.1.1.1. 주요국 통화의 대원화환율,Group1,계정항목,0000025,원/말레이지아링깃,None,None,D,19830824,20250808,11504,원,None
27,731Y001,3.1.1.1. 주요국 통화의 대원화환율,Group1,계정항목,0000034,원/필리핀페소,None,None,D,20150102,20250808,2615,원,None
28,731Y001,3.1.1.1. 주요국 통화의 대원화환율,Group1,계정항목,0000035,원/베트남동(100동),None,None,D,20150102,20250808,2615,원,None
29,731Y001,3.1.1.1. 주요국 통화의 대원화환율,Group1,계정항목,0000036,원/브루나이달러,None,None,D,20150102,20250808,2615,원,None
30,731Y001,3.1.1.1. 주요국 통화의 대원화환율,Group1,계정항목,0000037,원/인도루피,None,None,D,20150102,20250808,2615,원,None
31,731Y001,3.1.1.1. 주요국 통화의 대원화환율,Group1,계정항목,0000038,원/파키스탄루피,None,None,D,20150102,20250808,2615,원,None
32,731Y001,3.1.1.1. 주요국 통화의 대원화환율,Group1,계정항목,0000039,원/방글라데시타카,None,None,D,20150102,20250808,2615,원,None
33,731Y001,3.1.1.1. 주요국 통화의 대원화환율,Group1,계정항목,0000040,원/멕시코 페소,None,None,D,20150102,20250808,2615,원,None
34,731Y001,3.1.1.1. 주요국 통화의 대원화환율,Group1,계정항목,0000041,원/브라질 헤알,None,None,D,20150102,20250808,2615,원,None
35,731Y001,3.1.1.1. 주요국 통화의 대원화환율,Group1,계정항목,0000042,원/아르헨티나페소,None,None,D,20150102,20250808,2615,원,None
36,731Y001,3.1.1.1. 주요국 통화의 대원화환율,Group1,계정항목,0000016,원/스웨덴크로나,None,None,D,19670718,20250808,16214,원,None
37,731Y001,3.1.1.1. 주요국 통화의 대원화환율,Group1,계정항목,0000018,원/덴마크크로나,None,None,D,19700220,20250808,15496,원,None
38,731Y001,3.1.1.1. 주요국 통화의 대원화환율,Group1,계정항목,0000019,원/노르웨이크로나,None,None,D,19700220,20250808,15498,원,None
39,731Y001,3.1.1.1. 주요국 통화의 대원화환율,Group1,계정항목,0000043,원/러시아루블,None,None,D,20150102,20250808,2615,원,None
40,731Y001,3.1.1.1. 주요국 통화의 대원화환율,Group1,계정항목,0000044,원/헝가리포린트,None,None,D,20150102,20250808,2615,원,None
41,731Y001,3.1.1.1. 주요국 통화의 대원화환율,Group1,계정항목,0000045,원/폴란트즈워티,None,None,D,20150102,20250808,2615,원,None
42,731Y001,3.1.1.1. 주요국 통화의 대원화환율,Group1,계정항목,0000046,원/체코코루나,None,None,D,20150102,20250808,2615,원,None
43,731Y001,3.1.1.1. 주요국 통화의 대원화환율,Group1,계정항목,0000020,원/사우디아라비아리얄,None,None,D,19760701,20250808,13617,원,None
44,731Y001,3.1.1.1. 주요국 통화의 대원화환율,Group1,계정항목,0000047,원/카타르리얄,None,None,D,20150102,20250808,2615,원,None
45,731Y001,3.1.1.1. 주요국 통화의 대원화환율,Group1,계정항목,0000048,원/이스라엘셰켈,None,None,D,20150102,20250808,2615,원,None
46,731Y001,3.1.1.1. 주요국 통화의 대원화환율,Group1,계정항목,0000049,원/요르단디나르,None,None,D,20150102,20250808,2615,원,None
47,731Y001,3.1.1.1. 주요국 통화의 대원화환율,Group1,계정항목,0000021,원/쿠웨이트디나르,None,None,D,19770401,20250808,13392,원,None
48,731Y001,3.1.1.1. 주요국 통화의 대원화환율,Group1,계정항목,0000022,원/바레인디나르,None,None,D,19770401,20250808,13393,원,None
49,731Y001,3.1.1.1. 주요국 통화의 대원화환율,Group1,계정항목,0000023,원/아랍에미리트디르함,None,None,D,19770401,20250808,13393,원,None
50,731Y001,3.1.1.1. 주요국 통화의 대원화환율,Group1,계정항목,0000050,원/튀르키예리라,None,None,D,20150102,20250808,2615,원,None
51,731Y001,3.1.1.1. 주요국 통화의 대원화환율,Group1,계정항목,0000051,원/남아프리카공화국랜드,None,None,D,20150102,20250808,2615,원,None
52,731Y001,3.1.1.1. 주요국 통화의 대원화환율,Group1,계정항목,0000052,원/이집트파운드,None,None,D,20150102,20250808,2615,원,None

In [11]:
test_data_retrieval('901Y011', 'FIEE', period='M', start_date="201407", end_date="202506", description='GDP')

=== GDP 데이터 조회 테스트 ===
통계표코드: 901Y011
항목코드1: FIEE

데이터 조회 성공! 행 수: 132

상위 5개 데이터:

,통계표코드,통계명,통계항목코드1,통계항목명1,통계항목코드2,통계항목명2,통계항목코드3,통계항목명3,통계항목코드4,통계항목명4,단위,WGT,시점,값
0,901Y011,3.2.1.1. 국가별 수출,FIEE,국별수출(관세청),None,None,None,None,None,None,천달러,None,201407,48204545
1,901Y011,3.2.1.1. 국가별 수출,FIEE,국별수출(관세청),None,None,None,None,None,None,천달러,None,201408,46108370
2,901Y011,3.2.1.1. 국가별 수출,FIEE,국별수출(관세청),None,None,None,None,None,None,천달러,None,201409,47446217
3,901Y011,3.2.1.1. 국가별 수출,FIEE,국별수출(관세청),None,None,None,None,None,None,천달러,None,201410,51630657
4,901Y011,3.2.1.1. 국가별 수출,FIEE,국별수출(관세청),None,None,None,None,None,None,천달러,None,201411,46605342

컬럼 정보:
['통계표코드', '통계명', '통계항목코드1', '통계항목명1', '통계항목코드2', '통계항목명2', '통계항목코드3', '통계항목명3', '통계항목코드4', '통계항목명4', '단위', 'WGT', '시점', '값']

,통계표코드,통계명,통계항목코드1,통계항목명1,통계항목코드2,통계항목명2,통계항목코드3,통계항목명3,통계항목코드4,통계항목명4,단위,WGT,시점,값
0,901Y011,3.2.1.1. 국가별 수출,FIEE,국별수출(관세청),None,None,None,None,None,None,천달러,None,201407,48204545
1,901Y011,3.2.1.1. 국가별 수출,FIEE,국별수출(관세청),None,None,None,None,None,None,천달러,None,201408,46108370
2,901Y011,3.2.1.1. 국가별 수출,FIEE,국별수출(관세청),None,None,None,None,None,None,천달러,None,201409,47446217
3,901Y011,3.2.1.1. 국가별 수출,FIEE,국별수출(관세청),None,None,None,None,None,None,천달러,None,201410,51630657
4,901Y011,3.2.1.1. 국가별 수출,FIEE,국별수출(관세청),None,None,None,None,None,None,천달러,None,201411,46605342
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127,901Y011,3.2.1.1. 국가별 수출,FIEE,국별수출(관세청),None,None,None,None,None,None,천달러,None,202502,52298804
128,901Y011,3.2.1.1. 국가별 수출,FIEE,국별수출(관세청),None,None,None,None,None,None,천달러,None,202503,58082221
129,901Y011,3.2.1.1. 국가별 수출,FIEE,국별수출(관세청),None,None,None,None,None,None,천달러,None,202504,58115796
130,901Y011,3.2.1.1. 국가별 수출,FIEE,국별수출(관세청),None,None,None,None,None,None,천달러,None,202505,57241164
131,901Y011,3.2.1.1. 국가별 수출,FIEE,국별수출(관세청),None,None,None,None,None,None,천달러,None,202506,59801385

## 4. 지역별/업종별 통계표 검색

In [12]:
# 지역별 관련 통계표 검색
print("=== 지역별 관련 통계표 검색 ===")
regional_keyword = "지역별"
regional_tables = all_tables[all_tables['통계명'].str.contains(regional_keyword, case=False, na=False)]
print(f"'{regional_keyword}' 키워드가 포함된 통계표 개수: {len(regional_tables)}")
print("\n지역별 관련 통계표:")
display(regional_tables[['통계표코드', '통계명', '시점']])

print("\n=== 시도별 관련 통계표 검색 ===")
sido_keyword = "시도별"
sido_tables = all_tables[all_tables['통계명'].str.contains(sido_keyword, case=False, na=False)]
print(f"'{sido_keyword}' 키워드가 포함된 통계표 개수: {len(sido_tables)}")
print("\n시도별 관련 통계표:")
display(sido_tables[['통계표코드', '통계명', '시점']])

print("\n=== 생산지수 관련 통계표 검색 ===")
production_keyword = "생산지수"
production_tables = all_tables[all_tables['통계명'].str.contains(production_keyword, case=False, na=False)]
print(f"'{production_keyword}' 키워드가 포함된 통계표 개수: {len(production_tables)}")
print("\n생산지수 관련 통계표:")
display(production_tables[['통계표코드', '통계명', '시점']])

=== 지역별 관련 통계표 검색 ===
'지역별' 키워드가 포함된 통계표 개수: 33

지역별 관련 통계표:

          통계표코드                                통계명    시점
59   0000000027                     1.2.3. 지역별 여수신  None
60      141Y002           1.2.3.1. 예금은행 지역별 수신(말잔)     M
61      141Y006      1.2.3.2. 비은행예금취급기관 지역별 수신(말잔)     M
62      141Y008         1.2.3.3. 생명보험회사 지역별 수신(말잔)     M
63   0000000031          1.2.3.4. 예금은행 지역별 대출금(말잔)  None
64      141Y003        1.2.3.4.1. 예금은행 지역별 대출금(말잔)     M
65      151Y003       1.2.3.4.2. 예금은행 지역별 가계대출(말잔)     M
66      141Y004       1.2.3.4.3. 예금은행 지역별 기업대출(말잔)     M
67   0000000032      1.2.3.5. 비은행예금취급기관 지역별 여신(말잔)  None
68      141Y007    1.2.3.5.1. 비은행예금취급기관 지역별 여신(말잔)     M
69      151Y006  1.2.3.5.2. 비은행예금취급기관 지역별 가계대출(말잔)     M
70      141Y010  1.2.3.5.3. 비은행예금취급기관 지역별 기업대출(말잔)     M
71      141Y009         1.2.3.6. 생명보험회사 지역별 여신(말잔)     M
72      141Y005              1.2.3.7. 예금은행 지역별 연체율     M
89      132Y001  1.2.5.2.5. 산업별대출금(예금은행, 지역별, 전산업)     Q
90      132Y003  1.2.5.2.6. 산업별대출금(예금은행, 지역별, 용도별)     Q
421     301Y015                  2.5.1.4. 지역별 경상수지     A
422     301Y016             2.5.1.5. 지역별 자본수지/금융계정     A
428     304Y104         2.5.2.1.4. 지식서비스 무역통계(지역별)     Q
446     311Y002               2.6.1.2. 지역별 국제투자대조표     A
468     303Y001            3.2.2.1.1. 지역별 결제통화(수출)     M
470     303Y003        3.2.2.1.3. 지역별,국가별 원화결제(수출)     M
472     303Y004            3.2.2.2.1. 지역별 결제통화(수입)     M
474     303Y006        3.2.2.2.3. 지역별,국가별 원화결제(수입)     M
514     901Y064                   4.4.2. 지역별 지가변동률     M
631  0000000411                    5.9. 지역별 기업경영분석  None
670  0000000435                  6.1.5. 지역별 기업경기조사  None
671     512Y019   6.1.5.1. 지역별 기업경기조사(실적(2013.1~))     M
672     512Y020   6.1.5.2. 지역별 기업경기조사(전망(2013.2~))     M
673     512Y011  6.1.5.3. 지역별 기업경기조사(실적(~2012.12))     M
674     512Y012   6.1.5.4. 지역별 기업경기조사(전망(~2013.1))     M
689     801Y003                   7.1.2. 지역별 어음부도율     M
703     601Y002           7.5.2. 지역별 소비유형별 개인 신용카드     M

=== 시도별 관련 통계표 검색 ===
'시도별' 키워드가 포함된 통계표 개수: 4

시도별 관련 통계표:

       통계표코드                                    통계명 시점
414  291Y524          2.4.10. 시도별 주택 시가총액(명목, 연말기준)  A
415  291Y525       2.4.11. 시도별 토지자산 순자본스톡(명목, 연말기준)  A
797  903Y201      8.7.1.1. 시도별 자산, 부채, 소득 현황(2017~)  A
808  903Y001  8.7.2.1. 시도별 자산, 부채, 소득 현황(2012~2017)  A

=== 생산지수 관련 통계표 검색 ===
'생산지수' 키워드가 포함된 통계표 개수: 6

생산지수 관련 통계표:

       통계표코드                             통계명 시점
748  901Y033          8.1.4. 전산업생산지수(농림어업제외)  M
751  901Y016                   8.2.2. 농림생산지수  A
757  901Y034               8.3.2. 재별 제조업생산지수  M
758  901Y036             8.3.3. 설비용 기계류 생산지수  M
777  901Y038             8.5.1. 산업별 서비스업생산지수  M
848  902Y020  9.1.5.1. 국제 주요국 산업생산지수(계절변동조정)  M

In [13]:
# 업종별/산업별 관련 통계표 검색
print("=== 업종별 관련 통계표 검색 ===")
industry_keyword = "업종별"
industry_tables = all_tables[all_tables['통계명'].str.contains(industry_keyword, case=False, na=False)]
print(f"'{industry_keyword}' 키워드가 포함된 통계표 개수: {len(industry_tables)}")
print("\n업종별 관련 통계표:")
display(industry_tables[['통계표코드', '통계명', '시점']])

print("\n=== 제조업 관련 통계표 검색 ===")
manufacturing_keyword = "제조업"
manufacturing_tables = all_tables[all_tables['통계명'].str.contains(manufacturing_keyword, case=False, na=False)]
print(f"'{manufacturing_keyword}' 키워드가 포함된 통계표 개수: {len(manufacturing_tables)}")
print("\n제조업 관련 통계표:")
display(manufacturing_tables[['통계표코드', '통계명', '시점']])

print("\n=== 산업별 관련 통계표 검색 ===")
industrial_keyword = "산업별"
industrial_tables = all_tables[all_tables['통계명'].str.contains(industrial_keyword, case=False, na=False)]
print(f"'{industrial_keyword}' 키워드가 포함된 통계표 개수: {len(industrial_tables)}")
print("\n산업별 관련 통계표:")
display(industrial_tables[['통계표코드', '통계명', '시점']])

=== 업종별 관련 통계표 검색 ===
'업종별' 키워드가 포함된 통계표 개수: 6

업종별 관련 통계표:

          통계표코드                                 통계명    시점
663  0000000433          6.1.2. 업종별 기업경기조사, 2009.8~  None
664     512Y007  6.1.2.1. 업종별 기업경기실사지수, 2009.8~(실적)     M
665     512Y008  6.1.2.2. 업종별 기업경기실사지수, 2009.9~(전망)     M
666  0000000434          6.1.3. 업종별 기업경기조사, ~2009.8  None
667     512Y001  6.1.3.1. 업종별 기업경기실사지수, ~2009.7(실적)     M
668     512Y002  6.1.3.2. 업종별 기업경기실사지수, ~2009.8(전망)     M

=== 제조업 관련 통계표 검색 ===
'제조업' 키워드가 포함된 통계표 개수: 5

제조업 관련 통계표:

          통계표코드                       통계명    시점
755  0000000437               8.3. 광업/제조업  None
757     901Y034         8.3.2. 재별 제조업생산지수     M
760     901Y026            8.3.5. 제조업 재고율     M
761     901Y035  8.3.6. 제조업 생산능력 및 가동률 지수     M
762     901Y025          8.3.7. 제조업 평균가동률     M

=== 산업별 관련 통계표 검색 ===
'산업별' 키워드가 포함된 통계표 개수: 20

산업별 관련 통계표:

          통계표코드                                통계명    시점
80   0000000038                      1.2.5. 산업별대출금  None
81   0000000039             1.2.5.1. 예금취급기관 산업별대출금  None
82      131Y016     1.2.5.1.1. 산업별대출금(예금취급기관, 전산업)     Q
83      131Y017     1.2.5.1.2. 산업별대출금(예금취급기관, 용도별)     Q
84   0000000040               1.2.5.2. 예금은행 산업별대출금  None
85      131Y013       1.2.5.2.1. 산업별대출금(예금은행, 전산업)     Q
86      131Y011       1.2.5.2.2. 산업별대출금(예금은행, 용도별)     Q
87      131Y010     1.2.5.2.3. 산업별대출금(예금은행, 기업형태별)     Q
88      131Y018     1.2.5.2.4. 산업별대출금(예금은행, 기업규모별)     Q
89      132Y001  1.2.5.2.5. 산업별대출금(예금은행, 지역별, 전산업)     Q
90      132Y003  1.2.5.2.6. 산업별대출금(예금은행, 지역별, 용도별)     Q
91   0000000041          1.2.5.3. 비은행예금취급기관 산업별대출금  None
92      131Y014  1.2.5.3.1. 산업별대출금(비은행예금취급기관, 전산업)     Q
93      131Y015  1.2.5.3.2. 산업별대출금(비은행예금취급기관, 용도별)     Q
426     304Y102         2.5.2.1.2. 지식서비스 무역통계(산업별)     Q
432     304Y105     2.5.2.2.1. ICT 산업 특수분류(ICT산업별)     Q
436     304Y106     2.5.2.3.1. 콘텐츠 산업 특수분류(콘텐츠산업별)     Q
745     901Y085               8.1.1. 산업별 사업체수/종사자수     A
756     901Y032             8.3.1. 산업별 생산/출하/재고 지수     M
777     901Y038                8.5.1. 산업별 서비스업생산지수     M

## 5. 사용 예시

위에서 찾은 통계표 코드를 사용하여 세부 항목을 검색하고 데이터를 테스트해보세요.

In [14]:
# 복합 검색 예시 (여러 키워드 조합)
print("=== 복합 키워드 검색 예시 ===")

# GDP와 성장률이 모두 포함된 통계표 찾기
gdp_growth = all_tables[
    (all_tables['통계명'].str.contains("GDP", case=False, na=False)) & 
    (all_tables['통계명'].str.contains("성장률", case=False, na=False))
]
print(f"GDP + 성장률 복합 검색 결과: {len(gdp_growth)}개")
if len(gdp_growth) > 0:
    display(gdp_growth[['통계표코드', '통계명', '시점']])

# 무역 + 지수가 포함된 통계표 찾기
trade_index = all_tables[
    (all_tables['통계명'].str.contains("무역", case=False, na=False)) & 
    (all_tables['통계명'].str.contains("지수", case=False, na=False))
]
print(f"\n무역 + 지수 복합 검색 결과: {len(trade_index)}개")
if len(trade_index) > 0:
    display(trade_index[['통계표코드', '통계명', '시점']])

print("\n=== 사용 방법 ===")
print("위의 검색 결과에서 적절한 통계표 코드를 찾아 다음과 같이 사용하세요:")
print("1. search_stat_items('통계표코드', '설명') - 통계항목 코드 찾기")
print("2. test_data_retrieval('통계표코드', '항목코드1', description='테스트') - 데이터 조회 테스트")

=== 복합 키워드 검색 예시 ===
GDP + 성장률 복합 검색 결과: 0개

무역 + 지수 복합 검색 결과: 1개

          통계표코드                         통계명    시점
475  0000000193  3.3. 무역지수/교역조건지수(2020=100)  None

=== 사용 방법 ===
위의 검색 결과에서 적절한 통계표 코드를 찾아 다음과 같이 사용하세요:
1. search_stat_items('통계표코드', '설명') - 통계항목 코드 찾기
2. test_data_retrieval('통계표코드', '항목코드1', description='테스트') - 데이터 조회 테스트

## 📝 검색 결과 정리

위의 검색을 실행한 후, 다음과 같이 결과를 정리하세요:

### 1. GDP 변화율
- **통계표코드**: (위 pandas 필터링에서 찾은 코드)
- **항목코드1**: (search_stat_items 함수로 찾은 코드)
- **설명**: 

### 2. 수출입 변화율
- **수출 통계표코드**: 
- **수출 항목코드1**: 
- **수입 통계표코드**: 
- **수입 항목코드1**: 
- **설명**: 

### 3. 국내지역별 경제지표 변화율
- **통계표코드**: 
- **항목코드1**: 
- **항목코드2**: (지역 구분용)
- **설명**: 

### 4. 국내업종별 경제지표 변화율
- **통계표코드**: 
- **항목코드1**: 
- **항목코드2**: (업종 구분용)
- **설명**: 

### 올바른 검색 순서:
1. **전체 통계표 로드**: `all_tables = ecos.get_statistic_table_list()`
2. **키워드 필터링**: `all_tables[all_tables['STAT_NAME'].str.contains("키워드", case=False, na=False)]`
3. **항목 코드 확인**: `search_stat_items('통계표코드', '설명')`
4. **데이터 조회 테스트**: `test_data_retrieval('통계표코드', '항목코드1', description='테스트')`
5. **검증된 코드 정리**: 위의 표에 정상 작동하는 코드들 기록
6. **메인 노트북에 적용**: 정리된 코드들을 `external_data.ipynb`에 적용